html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../images/landscape.jpg");
    background-position: center;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-basis: 700px;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px black;

}

.form__labelText {
    width: 150px;
    display: inline-block;
    margin-right: 5px;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.form__button {
    width: 100%;
    border: none;
    background-color: black;
    color: #ccc;
    padding: 10px;

}

.form__fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0px;
}

.form__legend {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

